@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --fontColor:#262626;
    --lightColor:#ED3F41;
    --clipColor:rgba(214,214,214,0.3)
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    color:var(--fontColor);
    line-height: 1.5;
    text-decoration: none;
   
   
}
:focus{
    outline: 0px;
}
h3{
    font-size: 36px;
    font-weight: 500;
   

}
h3 span{
    font-weight: 500;
    display:inline-block
}
h5{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 36px;
}
p{
    font-size: 20px;
   
    line-height: 2;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
    height: 100%;
}

.clear{
    clear: both;
}
#loading {
    position: fixed;
    z-index: 400;
    width: 100%;
    height: 100vh;
    display:flex;
	justify-content:center;
	align-items:center;
    background-color: #262626;
}
.Box{
	position:relative;
	width:100px;
	height:100px;
	transform-style:preserve-3d;
	transform-origin:center;
	transform:rotate(45deg);
	animation:Loading 1s linear infinite;
}
.Box span{
	position:absolute;
	width:50px;
	height:50px;
	animation:MyLoading 1s ease-in-out infinite;
}
.Box span:first-of-type{
	left:0px;
	top:0px;
	background:#eb3b5a;
}
.Box span:nth-of-type(2){
	right:0px;
	top:0px;
	background:#0fb9b1;
}
.Box span:nth-of-type(3){
	left:0px;
	bottom:0px;
	background:#e1b12c;
}
.Box span:last-of-type{
	right:0px;
	bottom:0px;
	background:#227093;
}


/* navbar */
#particles-js{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
#header{
    padding:12px 4.15% 12px 8.3%;
    position: fixed;
    top: 0px;
    width: 100%; 
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
transition: 0.5s;

}
.logo{

 width: 20%;
}
.navbar-toggler{
    width: 45px;
    height: 35px;
  cursor: pointer;
  
}

.navbar-toggler span {
    position: relative;
   
  }
  .navbar-toggler span, .navbar-toggler span:before, .navbar-toggler span:after {
    display: block;
    width: 45px;
    height: 5px;
    background-color: #FFF;
    border-radius: 2px;
    transition: .5s;
  }
  .navbar-toggler span:before, .navbar-toggler span:after {
    content: "";
    position: absolute;
    right: 0;
  }
  .navbar-toggler span:before {
    bottom: -15px;
  }
  .navbar-toggler span:after {
    bottom: -30px;
  }
  .navbar-toggler:hover  span:before{
    width: 30px;
  }
  .navbar-toggler:hover  span:after{
    width: 20px;
  }
  .header-right{
      display: flex;
      align-items: center;
  }
  #fp-nav ul li .fp-tooltip{
      color:var(--fontColor)
  }
.link-item{
    letter-spacing: 2px;
    font-size: 18px;
  margin-right: 48px;
  position: relative;
  
}


.link-item a{
    display: block;
    color:#fff;
    padding: 8px 15px;
    transition: all 0.5s;
}
.link-item.dark a{
  
    color:var(--fontColor);
  
}
.link-item::before, .link-item::after {
    content: '';
    position: absolute;
    transition: all 0.5s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
  }

  
  .link-item::before {
    opacity: 0;
    background: rgba(255, 255, 255, 1);
    transform: scale(0.1, 0.1);
  }
  .link-item.dark::before {
    
    background: rgba(38, 38, 38, 1);
    
  }
  .link-item:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }
  
  .link-item::after {
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 1)
  }
  .link-item.dark::after {
    transition: all 0.5s;
    border: 1px solid rgba(38, 38, 38, 1);
  }
  .link-item:hover::after {
    transform: scale(0, 0);
    opacity: 0;
  }
  .link-item:hover  a{
      color: var(--fontColor);
  }
  .link-item.dark:hover  a{
    color: #fff
}
.nav{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background: url('../image/nav_bg.jpg') no-repeat;
    background-position: bottom right;
    background-size: cover;
    background-color:rgba(214,214,214,.8);
    z-index: 0;

}


.close {
    position: absolute;
    top: 30px;
    right: 4.15%;
    width: 45px;
    height: 34px;
    cursor: pointer;
    transform: scale(0.8);
    opacity: 0.8;
  }
  .close:before, .close:after {
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    height: 6px;
    top: 50%;
    background-color: white;
    border-radius: 2px;
  }
  .close:before {
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .close:after {
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .close:hover{
      transform: scale(1);
      opacity: 1;
  }
   nav a {
    display: block;
    margin-bottom: 25px;
    text-decoration: none;
    color:#fff;
    text-align: right;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 400;
  }

.navbar-nav{
    position: absolute;
    top: 100px;
    right: 4.15%;
}
.navbar-nav li{
    position: relative;
   opacity: 0;
   left: 100%;
    transition: all 0.3s;
}
.navbar-nav.openMenu li{
    left: 0;
    opacity: 1;
}
.navbar-nav.openMenu li:first-child{
   transition-delay: 0s;
}
.navbar-nav.openMenu li:nth-child(2){
    transition-delay: 0.1s;
}
.navbar-nav.openMenu li:nth-child(3){
    transition-delay: 0.2s;
}
.navbar-nav.openMenu li:nth-child(4){
    transition-delay: 0.3s;
}
.navbar-nav li:after{
    content: '';
    width: 0%;
    position: absolute;
    bottom:-8px;
    right: 0;
    height: 3px;
    transition: all 0.5s;
    background-color: #fff;
}
.navbar-nav.closeMenu li{
    left: 100%;
    opacity: 0ㄤ
}
.navbar-nav.closeMenu li:first-child{
   transition-delay: 0.3s;
}
.navbar-nav.closeMenu li:nth-child(2){
    transition-delay: 0.2s;
}
.navbar-nav.closeMenu li:nth-child(3){
    transition-delay: 0.1s;
}
.navbar-nav.closeMenu li:nth-child(4){
    transition-delay: 0s;
}
.navbar-nav li:after{
    content: '';
    width: 0%;
    position: absolute;
    bottom:-8px;
    right: 0;
    height: 3px;
    transition: all 0.5s;
    background-color: #fff;
}
.navbar-nav li:hover::after{
   
    width: 100%;
}
#fp-nav{
    display: none;
}
.navbar-toggler.dark span, .navbar-toggler.dark span:before, .navbar-toggler.dark span:after{
    background-color:var(--fontColor)
}
.rotateNav{
    transform:translateX(-250px) rotate(-15deg);
   transition:all 0.5s;
}
.closeNav{
    transform: rotate(0);
    
}
/* banner */
.banner {
   background-color: #fff;
    position: relative;
   
}
.bannerBg{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;

    background-color: var(--fontColor);
    clip-path: polygon(100% 0, 43% 0, 60% 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 43% 0, 60% 100%, 100% 100%);
    z-index: -0;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }

 

  .swiper-pagination{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  }
  .swiper-pagination-bullet{
      width: 36px;
      height: 36px;
      color:#fff;
      background-color:var(--fontColor);
      border: 1.5px dashed #fff;
      opacity: 1;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .swiper-pagination-bullet-active{
      background-color: #fff;
      border:0;
      width:54px;
      height: 54px;
      color:#262626
  }
  .swiper-container-horizontal > .swiper-pagination-bullets{
      bottom: 30%;
      right: 16.666%;
    
      width: auto;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
      margin: 0 ;
      margin-left: 60px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:first-child{
      margin: 0;
  }
.swiper-pagination:after{
    content:'';
width:320px;
height: 2px;
background-color: #fff;
display: block;
position: absolute;

z-index: -10;

}
.swiper-button-next, .swiper-button-prev{
    top: auto;
    bottom:30.5%
}
.swiper-button-next{
    right:13%;
   
}
.swiper-button-prev{
    left:62%;
    transform: rotate(180deg);
}
.swiper-button-next i,.swiper-button-prev i{
    color:#fff;
    font-size: 28px;
}
.swiper-button-next:after,.swiper-button-prev:after{
    content: '';
}
.carousel_img{
    display:flex;
    position: absolute;
    top: 30%;
    left: 16.6%;
}
.carousel_img>div{
    
    margin-right: 24px;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    -webkit-clip-path:polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
   transition: 1s;


}
.carousel_text{
   
    display: flex;
    align-items: center;
    position: absolute;
    left: 16.6%;
    top: 60%;
}
.carousel_line{
    width: 160px;
    height: 2px;
    background-color: #707070;
    transform: rotate(-30deg);
    position: absolute;
    left: 150px;
}

.carousel_text h3{
    font-size: 36px;
    font-weight: 400;
    position: relative;
   top:-30px;
}

.carousel_text p{
    font-size: 18px;
    font-weight: 400;
   position: relative;
   top:30px;
   left: 8%;
}


  
/* section */
.section{
    transform-origin: center 70%;
    transition: 0.5s;
    background-color: #fff;
}


.section.service{
    padding: 0 8.3% ;
    position: relative;
    
}
.title{
    margin-bottom: 72px;
}
/* .service .title{
    position: absolute;
    top:15%
} */
.title{
    display: flex;
   
}
.bar{
  
    width: 7px;
    height:60px;
    
    
    background-color: var(--lightColor);
    transform: rotate(-15deg);
    margin-right: 24px;
}
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:var(--clipColor);
    clip-path: polygon(17% 0, 37% 0, 20% 100%, 0% 100%);
    -webkit-clip-path: polygon(17% 0, 37% 0, 20% 100%, 0% 100%);
    z-index: -10;
    transition: 0.8s;
}

.decoration_text{
    position: absolute;
    top: 15%;
    right: 0;
    opacity: 0.03;
    font-size: 180px;
    font-family: 'Lobster', cursive;
}

.content{
    display: flex;
    align-items: center;
    padding-left: 8.3%;
}

.imgBox{
    width: 55%;
    margin-right: 48px;
    transition: .8s;
  
}


.imgBox img{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.textBox{
    width: 45%;
   
}
.archor{
    display: block;
    margin-top: 36px;
    font-size: 20px;
    font-weight: 300;
    
    color:#fff;
    padding: 12px ;
    letter-spacing: 2px;
    width: 40%;
    text-align:center;
    margin-left: auto;
    border-radius: 3px;
    position: relative;


}
.archor i{
    color:#fff;
    margin-left: 10px;
    font-size: 16px;
  transition: 0.5s;
}


.archor::after, .archor::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    border-radius: 2px;
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
  }
  .archor::before {
    background-color:rgba(38,38,38,0.8);
    top: -5px;
    right: 100px;
  }
  .archor::after {
    background-color:var(--fontColor);
    top: 5px;
    right:0px;
  }
  .archor:hover::before, .archor:hover::after {
    top: 0;
    -webkit-transform: skewx(0deg);
            transform: skewx(0deg);
  }
  .archor:hover::after {
    right: 45%;
  }
  .archor:hover::before {
    right:0;
    background-color:rgba(38,38,38,1);
  }
  .archor:hover i{
      color:var(--lightColor)
  }
/* odd_section */

.odd_section .title{
  justify-content: flex-end;
 }
 .odd_section .bg{
    clip-path: polygon(80% 0, 100% 0, 83% 100%, 63% 100%);
    -webkit-clip-path: polygon(80% 0, 100% 0, 83% 100%, 63% 100%);
}
.odd_section .decoration_text{
    left: 0;
    right: auto;
}
.odd_section .content{
    padding-left:0;
    padding-right: 8.3%;
}
.odd_section .imgBox{
    margin-right: 0px;
    margin-left: 48px;
  }



  .doubleBg1{
    clip-path: polygon(17% 5%, 37% 5%, 20% 100%, 0 100%);
    -webkit-clip-path: polygon(17% 5%, 37% 5%, 20% 100%, 0 100%);
  }
  .doubleBg2{
  clip-path: polygon(22% 0, 42% 0, 25% 95%, 5% 95%);
  -webkit-clip-path: polygon(22% 0, 42% 0, 25% 95%, 5% 95%);
  }




  /*about*/

.about{
   
    background: url(../image/about_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.about .title{
   
    justify-content: center;
    margin-bottom: 60px;
}
.about_content{
    width: 50%;
    margin: auto;
    position: relative;
}
.about_content p{
    background-color: var(--fontColor);
    color:#fff;
    font-size: 24px;
    padding:10px 15px;
    text-align: center;
    margin-bottom: 72px;
    position: relative;
    
}
.about_content p.aboutText1{
    width: 50%;
    margin-left: -5%;
}
.about_content p.aboutText2{
    width: 60%;
    margin-left: auto;
}
.about_content p.aboutText3{
    width: 70%;
    margin-left: -10%;
}
.about_content p.moreText{
    background-color: rgba(38,38,38,0.8);
   font-size: 18px;
   width: 80%;
   margin: auto;
   margin-bottom: 72px;
   opacity: 0;
   position: absolute;
   top: 0;
   left: 10%;
 padding: 60px;
 transform:translateY(50px);
}

.more{
    text-align: center;
    width: 80px;
    height: 80px;
    padding: 20px;
  border-radius: 50%;
    margin: auto;
    border:2px dashed var(--fontColor);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.more span{
    width: 6px;
    height: 30px;
    background-color: var(--fontColor);
    display: block;
}
.more span:nth-child(2){
   position: absolute;
   
    transform: rotate(90deg);

}
.more.open_btn span:nth-child(1){
    display: none;
}
.more:hover{
    transform: rotate(180deg) ;

}


/* choice*/

.choice{
    position: relative;
    padding:0 8.3%;
}
.choice .bg{
    clip-path: polygon(25% 0, 45% 0, 25% 100%, 5% 100%);
    -webkit-clip-path: polygon(25% 0, 45% 0, 25% 100%, 5% 100%);

    }
  
/*   
.choice .title{
    position: absolute;
    top:10%;
    
} */
.choice_img{
    width: 70%;
  
    position: absolute;
    right: 0;
    bottom:15%;
    z-index: -1;
    transition: 0.8s;
}
.choice_content{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choice_box{
    width: 30%;
   position: relative;
min-height: 300px;
overflow: hidden;
/* box-shadow: 3px 3px 10px rgba(0,0,0,0.2); */
   
}

.box_img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.8s;
}
.choice_mask{
    position: relative;
    min-height: 300px;
    background-color: #fff;
    clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
    padding: 60px 0 16px 24px;
    transition: 0.8s;
   
}
.choice_box:hover .choice_mask{
    animation: clip-fade 0.8s forwards linear;
  
}
.choice_box:hover .choice_text{
    opacity: 0;
}
.choice_box:hover .box_img{
 filter: blur(5px) brightness(0.5);
 transform: scale(1.1);
 transition-delay: 0.2s;
}
.choice_text{
    position: relative;
    height: 100%;
    z-index: 1;
  
}


.choice_text h5{
font-size: 24px;
}
.hover_icon{
   position: absolute;
   height: 36px;
   width: 36px;
   top: 180px;
}
.hover_icon i{
    position: relative;
    z-index: 10;
    font-size: 24px;
    top: 16px;
    left: 20px;
    transform: rotate(-30deg);
    opacity: 0.8;
}
.circle{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(229,229,229,0.4);
    border-radius: 50%;
}
.circle_small{
    transform: scale(0.7);
    background-color: rgba(229,229,229,1);
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    
    padding: 36px 24px;
    display: flex;
    align-items: center;
   
}

.overlay p{
    color:#fff;
   transition: 0.5s;
    transform: scale(0);
}
.choice_box:hover .overlay p{
  
    transform: scale(1);

    transition-delay: 0.8s;
    
  }

.choice .archor{
    margin: auto;
    width: 15%;
    margin-top: 60px;
    z-index: 10;
}

/** contact_form **/
.contact_form .title{
   
    justify-content: center;
    margin-bottom: 48px;
}
.contact_form{
    background: url(../image/form_bg.jpg) no-repeat;
    background-size: cover;
display: flex;
align-items: center;
}
.contact_form .bg{
    z-index: 0;
    clip-path: polygon(100% 30%, 90% 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 30%, 90% 100%, 100% 100%);

}
.contact_form .triBg2{
    clip-path: polygon(100% 20%, 90% 90%, 100% 90%);
    -webkit-clip-path: polygon(100% 20%, 90% 90%, 100% 90%);

}
.form_box{
    width: 66.8%;

    margin: auto;
    background: url(../image/form_box.png) no-repeat;
    background-size: cover;
    padding: 60px 12.5% 72px;
 
}
.form_Content{
    display: flex;
}
.form-left{
    width: 50%;
    margin-right: 24px;
}
.form-right{
    width: 50%;
    margin-left: 24px;
}
.form_box label{
    display: block;
    
    font-weight: normal;
    margin-bottom: 10px;
}
input{
    border: 0px;
    height:48px;
    border-radius: 30px;
    margin-bottom: 15px;
    padding-left: 15px;
    transition: 0.5s;
}
textarea{
    border: 0px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    height:auto;
}
#company,#email,#phone,#comment{
    width: 100%;
}
input:focus{
    background-color: rgba(214,214,214,0.8);
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);
}
select, option{
    border: 0px;
    height: 48px;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
}
.form_footer{
    display: flex;
}
p.extra{
    width: 45%;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 15px;
}
.submitBtn{
    display: block;
   border:0px;
    background-color:rgba(38,38,38,0.8);
    padding: 5px;
    width: 30%;
    text-align:center;
    margin-left: auto;
    margin-top: 15px;
   cursor: pointer;
  position: relative;
  overflow: hidden;
}
.submitBtn p{
    position: relative;
    z-index: 10;
    color:#fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
}
.submitBtn i{
    color:#fff;
    position: relative;
    left: 10px;
    font-size: 16px;
    transition: all 0.5s;
}
.submitBtn::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--fontColor);
   top: 0;
   left:0;
   transition: all 0.5s;
   z-index: 00;
}
.submitBtn:hover::after{
    left: 180px;
}
.submitBtn:hover i{
    color:var(--lightColor);
   left: 30px;
}
 .submitBtn .sendEmail i{
    font-size: 24px;
    left: -50px;
}

/* traffic */
.traffic{
    position: relative;
    padding-right: 8.3% ;
}
.traffic .title{
 
  margin-left: 8.3%;
}
.traffic .bg{
    -webkit-clip-path: polygon(27% 0, 47% 0, 30% 85%, 10% 85%);
    clip-path: polygon(27% 0, 47% 0, 30% 85%, 10% 85%);

}
.traffic .trafficbg{
    clip-path: polygon(75% 10%, 95% 10%, 78% 100%, 58% 100%);
    -webkit-clip-path: polygon(75% 10%, 95% 10%, 78% 100%, 58% 100%);

}
.traffic_content{
    display: flex;
    align-items: center;
}
.map{
    width: 60%;
    position: relative;
    clip-path:polygon(0 0, 0 0, 0 100%, 0 100%);
    -webkit-clip-path:polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: 0.8s;
}

iframe{
    width: 100%;
}
.map_Content {
    width: 40%;
   
}
.map_Content p{
    width: 70%;
    background-color: var(--fontColor);
    color:#fff;
    font-size: 20px;
    padding:10px 15px;
    text-align: center;
   
}
.address{
    margin-left: 30%;
}
.phone_number{
    margin: 72px 0;
    margin-left: 15%;
}

.copyright{
    position: absolute;
    background-color: var(--fontColor);
  width: 100% ;
bottom: 0;
  text-align: center;
  padding: 12px ;
  left: 0;

}
.copyright p{
    color:#fff;
    font-size: 12px;
}


/* totop */
.scroll {
    transform: rotate(-180deg);
}
.totop{
    position: fixed;
    bottom: 80px;
    right: 0;
    display: flex;
    align-items: flex-end;
    background-color: var(--fontColor);
    padding:24px  20px 24px 5px;
    opacity: 0.8;
    transition: .5s;
    cursor: pointer;
}
.totop:hover{
    opacity: 1;
}
.top_icon{
   position: relative;
}
.totop:hover  .line::before{
    top: -10px;
}
.line{
    width: 2px;
    height: 120px;
    background-color: #fff;
position: relative;
}

.line::before{
    content:'△';
    display: block;
    color:#fff;
    font-size: 24px;
    position: relative;
    left: -11px;
    top:20px;
transition: 0.5s;
}

.totop p{
    color:#fff;
    margin-right: 5px;
font-weight: 900;
font-size: 14px;
line-height: normal;
writing-mode:vertical-rl;
transform: rotate(180deg);
pointer-events: ;
}


/* keyframe*/



@keyframes moreFadeLeft{
    0%{
        left: 0;
        opacity: 1;
    }100%{
        left: -300px;
        opacity: 0;
       
    }
}

@keyframes  moreFaderight{
    0%{
        right: 0;
        opacity: 1;
    }100%{
        right: -300px;
        opacity: 0;
        
    }
}

@keyframes  moreFadeTop{
    0%{
        opacity: 0;
        top: 50px;
       
    }100%{
        opacity: 1;
        top: 0px;
      
    }
}

@keyframes clip-fade{
    0%{
        clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
    }
    25%{
        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    }
    50%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100%{
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
        -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
    }
}


@keyframes Loading{
	0%,90% ,100%{
		width:100px;
		height:100px;
	}
	50%{
		width:150px;
		height:150px;	
	}
}


@keyframes MyLoading{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(90deg);
	}
}

/* RWD */



@media screen and (max-width:1440px){
    .logo{

        width: 25%;
       }
     
     .swiper-slide {
        padding-left: 8.3%;

      }
      .swiper-container-horizontal > .swiper-pagination-bullets{
      
        right: 10%;
      
    }
   
    .swiper-button-next{
        right:5%;
       
    }
    
     .swiper-button-prev{
        left:62%;
     
    }
    .carousel_img,.carousel_text{
      
        left: 8.3%;
    }
    .archor{
        width: 45%;
    }
    .decoration_text {
        top:20%;
    }
    .about_content{
        width: 60%;
    }
    .choice .archor{
        width: 20%;
    }
    .form_box{
        width: 80%;
    }
}
@media screen and (max-width:1200px){
    #header{
        transform-origin:45% 700% 
    }
    .swiper-button-prev{
        left:57%;
     
    }

    .rotateNav{
        transform:translateX(-200px) rotate(-15deg);
       
    }
    h5,.choice_text h5{
        font-size: 20px;
    }
    p,.map_Content p{
        font-size: 18px;
    }
    .archor{
        width: 55% ;
        font-size: 18px;
    }
    .decoration_text {
        top:24%;
        font-size: 150px;
    }
    .about_content{
        width: 70%;
    }
    .about_content p{
        font-size: 20px;
    }
    .about_content p.aboutText2{
        margin-left: 45%;
    }
    .choice_box,.choice_mask{
        min-height: 250px;
    }
    .choice_img {
        bottom:20%
    }
    .choice .archor{
        width: 24%;
    }
    .submitBtn {
        width: 35%;
    }
}
@media screen and (max-width:1024px){
    .bannerBg{
        clip-path: polygon(100% 0, 38% 0, 65% 100%, 100% 100%);
        -webkit-clip-path: polygon(100% 0, 38% 0, 65% 100%, 100% 100%);

    }
    .logo{
        width: 30%;
    }
    .carousel_text h3{
    font-size: 30px;
    top: -20px;
    }
    .carousel_line{
        left: 120px;
    }
    .carousel_text p{
        
        font-size: 16px;
        left: 5%;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
        margin-left: 36px;
    }
    .swiper-pagination:after{
        width: 260px;
    }
    .swiper-button-next i, .swiper-button-prev i{
        font-size: 20px;
    }
    .swiper-button-prev{
        left: 59%;
    }
  
    .socialSlider .carousel_img,.designSlider .carousel_img{
        width: 85%;
    }
    .archor {
    width: 60%;
    }
    .content,.odd_section .content{
        padding: 0;
    }
    .choice{
        padding: 0 5%;
    }
    .choice_box{
        width: 32%;
    }
   
    .choice .archor{
        width: 24%;
    }
    .choice_img {
        bottom:25%
    }
    .form_box{
        padding: 60px 5% 72px;
    }
    .map_Content{
        width: 50%;
    }
}
@media screen and (max-width:770px){
    .bannerBg{
        clip-path: polygon(60% 0, 100% 0, 100% 100%, 30% 100%);
        -webkit-clip-path:polygon(60% 0, 100% 0, 100% 100%, 30% 100%);
    }
    .rotateNav{
        transform:translateX(-150px) rotate(-20deg);
       
    }
    h3{
        font-size: 30px;
    }
    h5{
        margin-bottom: 24px;
    }
    p, .map_Content p{
        font-size: 16px;
        font-weight: normal;
    }
    .bar{
        width: 5px;
        height: 48px;
        margin-right: 20px;
    }
    .title{
        margin-bottom: 48px;
    }
    .logo{
        width: 40%;
    }
    .swiper-slide{
        padding: 0;
    }

    .swiper-button-next, .swiper-button-prev{
        bottom: 10.5%;
    }
    .swiper-button-next{
        right: 8%;
    }
    .swiper-button-prev{
        left: 
        42%;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 10%;
        right: 15%;
    }
    .carousel_img{
        top: 25%
    }
    .adSlider .carousel_img,.seoSlider .carousel_img{
        left: 17%;
    }
    .socialSlider .carousel_img, .designSlider .carousel_img{
        width: 90%;
        top: 30%;
    }
    .carousel_text{
    width: 100%;
      display: block;
      left: 0;
      top: 50%;
    }
    .carousel_line{
        display: none;
    }
    .carousel_text h3{
     text-align: center;
    background: -webkit-gradient(linear,left top,right top,from(#000),to(#fff));
    background: linear-gradient(to right,#333,#fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 5px;
        top: 0;
        width: 70%;
        margin: auto;
       
    }
    .carousel_text p{
        color:#fff;
        font-size: 24px;
        top: 50px;
        left: 50%; 
    }
    
    .content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .imgBox,.odd_section .imgBox{
        margin: 0;
        width: 70%;
        margin-bottom: 24px;
    }
    .textBox{
        width: 70%;
    }
    .archor{
        margin-top: 24px;
    }
    .archor{
        width: 45%;
    }
    .decoration_text {
        top: 15%;
    font-size: 120px;
    }
    .bg{
        clip-path: polygon(17% 0, 52% 0, 35% 100%, 0% 100%);
        -webkit-clip-path: polygon(17% 0, 52% 0, 35% 100%, 0% 100%);
    }
    .reverseFlex{
        flex-direction: column-reverse;
    }
    .odd_section .bg{
        clip-path:polygon(65% 0, 100% 0, 83% 100%, 48% 100%);
        -webkit-clip-path:polygon(65% 0, 100% 0, 83% 100%, 48% 100%)
    }
    .about{
        background-position: right;
    }
    .about_content p{
        font-size: 18px;
    }
    .about_content p.aboutText1{
        width: 80%;
        margin-left: 0%;
    }
    .about_content p.aboutText2{
        width: 90%;
        margin-left: auto;
    }
    .about_content p.aboutText3{
        width: 95%;
        margin-left: -10%;
    }
    .more{
        width: 60px;
        height: 60px;
        top:24px
    }
    .more{
        border-color:#fff   ;
        background-color: var(--fontColor);

    }
    .more span{
        background-color: #fff;
    }
    .choice .bg{
        clip-path:polygon(25% 0, 60% 0, 40% 100%, 5% 100%);
        -webkit-clip-path:polygon(25% 0, 60% 0, 40% 100%, 5% 100%)
    }
.choice .title{
    margin-bottom: 36px;
}
    .choice_content{
        flex-wrap: wrap;
    }
    .choice_box{
        width: 52%;
        margin:0  auto 36px;
        min-height: 200px;
    }
    .choice_mask{
        padding-top: 36px ;
        min-height: 200px;
    }
    .choice .archor{
        margin-top: 0;
        width: 30%;
    }

    input,select, option{
        height: 36px;
    }
    .form_box{
        width: 90%;
    }
 
    textarea{
        height: 300px;
    }
    .traffic_content{
        flex-wrap: wrap;
    }
    .traffic{
        padding: 0;
    }
    .map{
        width: 85%;
        margin-bottom: 36px;
    }
    .traffic .bg{
        clip-path: polygon(27% 0, 62% 0, 45% 85%, 10% 85%);
        -webkit-clip-path: polygon(27% 0, 62% 0, 45% 85%, 10% 85%);
    }
    .traffic .trafficbg{
        display: none;
    }
    iframe{
        height: 300px;
    }
    .map_Content{
        width: 50%;
        margin: auto;
    }
    .phone_number{
        margin: 48px 0 48px 15% ;
    }
    .rotateNav{
        transform:translateX(-300px) rotate(-0deg);
       
    }
}
@media screen and (max-width:576px){
 
    nav a{
        margin-bottom: 20px;
    }
    #header{
        padding: 12px 4.15%;
     
    }
    .carousel_img{
        top: 20%;
    }
    .adSlider .carousel_img,.seoSlider .carousel_img{
        width: 80%;
        left: 10%;
    }
    .carousel_text h3{
       
       font-size:60px;
     
           top: 0;
           width: 70%;
           margin: auto;
       
          
       }
       .carousel_text p{
           
           font-size: 16px;
           top: 50px;
           left: 50%; 
       }
    
       .swiper-pagination-bullet{
        width:28px;
        height: 28px;
        font-size: 16px;
       }
       .swiper-pagination-bullet-active{
        width: 36px;
        height: 36px;
    }
    .swiper-pagination:after{
        width: 220px;
    }
    .swiper-button-next, .swiper-button-prev{
        bottom: 9.5%;
    }
    .swiper-button-prev{
        left: 38%;
    }
    .decoration_text{
        display: none;
    }
   
    .link-item{
        display: none;
    }
    .logo{
        width: 50%;
    }
    .imgBox, .odd_section .imgBox,.textBox{
        width: 80%;
    }
    .totop{
        padding: 16px 16px 16px 5px;
    }
    .archor{
        width: 55%;
    }
    .section.service{
        padding-top: 72px;
        padding-bottom: 72px;
    }
    .about_content{
        width: 80%;
    }
    .about_content.openMore p.aboutText1,.about_content.openMore p.aboutText3{
        transform:translateY(50px);

        opacity: 0;
       
     }
     .about_content.openMore p.aboutText2{
         transform:translateY(50px);
         opacity: 0;
      }
    .about_content p.moreText{
        padding: 36px;
    }

    .choice{
        padding: 72px 5%;
    }
  
    .choice_box{
        width: 80%;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    }
    .choice .archor{
        width: 50%;
    }
    .choice_img{
        display: none;
    }
    .contact_form{
        padding: 60px 5%;
    }
    .form_Content,.form_footer{
        flex-wrap: wrap;
    }
    .form-left,.form-right,p.extra{
        width: 80%;
        margin: auto;
    }
    .submitBtn{
        width: 50%;
        margin: auto;
        margin-top: 24px;
    }
    .submitBtn:hover::after{
        left: 160px;
    }
    .submitBtn:hover i{
        left: 20px;
    }
    .map_Content{
        width: 80%;
    }
    .traffic{
        padding: 72px 0 120px 0
    }
    .map{
       clip-path:  polygon(0 0,100.5% 0%, 83% 100%, 0 100%);
       -webkit-clip-path:  polygon(0 0,100.5% 0%, 83% 100%, 0 100%)
    }
    
}


@media screen and (max-width:458px){
    h3 {
        font-size: 24px;
    }
  .bg{
      display: none;
  }
  .carousel_text h3{
       
    font-size:48px;
  
    
       
    }
    .carousel_text p{
        left: 45%;
    }
    .adSlider .carousel_img, .seoSlider .carousel_img{
        width: 90%;
        left: 5%;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
        margin-left: 20px;
    }
    .swiper-pagination:after{
        width: 180px;
    }
    .swiper-button-next i, .swiper-button-prev i{
        font-size: 16px;
    }
    .archor{
        width: 65%;
    }
    .about .title{
        margin-bottom: 36px;
    }
    .about_content {
        width: 90%;
    }
    .about_content p{
        font-size: 16px;
        margin-bottom: 48px;
    }    
    .about_content p.aboutText1{
        width: 90%;
        margin-left:10%;
    }
    .about_content p.aboutText2{
        width: 90%;
        margin-left: 5%;
    }
    .about_content p.aboutText3{
        width:90%;
        margin-left: 0;
    }
    .more{
        top: 72px;
    }
    .form-left, .form-right, p.extra{
        width: 90%;
    }
    .submitBtn{
        width: 70%;
    }
    .map_Content p{
        width: 80%;
    }
    .address{
        margin-left: 20%;
    }
    .phone_number{
        margin-left: 10%;
    }
    .totop{
        padding:12px 16px 12px 3px
    }
    .totop p{
        font-size: 12px;
    }
    .line{
        width: 1.5px;
        height: 100px;
    }
    .line::before{
        font-size: 18px;
        left: -8px;
    }
}

@media screen and (max-width:414px){
    .logo{
        width:55%;
    }
    .close {
        top: 20px;
    }
    .navbar-nav{
        top: 80px;
    }
    select, option{
        margin-left: 0;
    }
    .archor{
        font-size: 16px;
    }
    .archor::before{
        right: 80px;
        top: -3px;
    }
    .archor::after{
        top: 5px;
    }
    .adSlider .carousel_img, .seoSlider .carousel_img{
        left: 7%;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom:5%
    }
    .swiper-button-next, .swiper-button-prev{
        bottom: 4.5% ;
    }
    .swiper-button-prev {
left: 34%;
    }
    .carousel_text{
        top: 50%;
    }
    .socialSlider .carousel_text, .designSlider .carousel_text{
        top: 45%;
    }
    .carousel_text h3{
       
      width: 80%;
      
        
           
        }
        .carousel_text p{
            left: 0;
          width: 50%;
            margin-left: auto;
            margin-right:7%;
            top:40px;
        }
}

@media screen and (max-width:375px){
    .section.service{
        padding-top: 72px;
        padding-bottom: 72px;
    }
    .about{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .archor{
        width: 75%;
    }
    .choice_box,  .map_Content{
        width: 90%;
    }
    .choice .archor{
        width: 60%;
    }
    .form_box,.map{
        width: 100%;
    }
    .navbar-nav{
        top: 60px;
    }
    .carousel_text h3{
       
        width: 90%;
        
          
             
          }
          .carousel_text p{
            left: 0;
            width: 50%;
            margin-left: auto;
            margin-right: 9%;
          }
          .swiper-container-horizontal > .swiper-pagination-bullets{
              right: 10%;
          }
          .swiper-button-next{
              right: 2%;
          }
}

@media screen and (max-width:320px){
    .bar{
        display: none;
    }
    .navbar-toggler span, .navbar-toggler span:before, .navbar-toggler span:after{
        width: 40px;
        height: 3px;
    }
    .navbar-toggler span:after{
        bottom:-20px
    }
    .navbar-toggler span:before{
        bottom:-10px
    }
    .totop{
        bottom:50px
    }
    .archor{
        width: 90%;
    }
    .about{
        padding: 72px  3%;
    }
    .choice_mask{
        padding-left: 16px;
    }
    h5, .choice_text h5{
        font-size: 18px;
    }
    .about_content p.moreText{
        padding: 24px;
        font-size: 16px;
    }
    select, option{
        margin-bottom: 15px;
    }
    #fp-nav{
        display: none !important;
    }
    .carousel_text h3{
       
       font-size: 36px;
        
          
             
          }
          .carousel_text p {
            left: 0;
            width: 40%;
            margin-left: auto;
            margin-right: 16%;
            top: 30px;
        }
        .swiper-container-horizontal > .swiper-pagination-bullets{
            bottom: 2%;
        }
        .swiper-button-next, .swiper-button-prev{
            bottom:1%
        }
        .swiper-button-prev i{
            color:var(--fontColor)
        }
        .swiper-button-prev{
            left: 23%;
        }
}